* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 80px 5px;
}

/* -------------- header --------------- */

/* -------------- banner --------------- */

.banner img {
  width: 100%;
  height: auto;
}

/* -------------- profile --------------- */

.profile_foto img {
  border-radius: 50%;
}

.profile_infos {
  display: flex;
  gap: 40px;
}

.profile_infos_detalhes {
  max-width: 50%;
}

.profile_infos_detalhes hr {
  max-width: 25%;
}
