* {
  margin: 0;
  padding: 0;
  border: 0;
}

#menu {
  background: black;
  height: 50px;
  width: 571px;
}

#menu ul {
  background: url(/imagens/backazul.jpg) repeat-x;
  width: 571px;
  height: 50px;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  color: #333;
  font: 18px "Trebuchet MS", Arial, Helvetica, Sans-serif;
  text-decoration: none;
  padding: 13px 40px;
  float: left;
}

#menu ul li a:hover {
  background: url(/imagens/backpreto.jpg) repeat-x;
}
