/* * {
  margin: 0;
} */

#conteudo {
  background: #ccc;
  width: 850px;
  height: 1130px;
  margin: auto;
}

#bts {
  padding: 2px;
}
/* configurando botao */
#bts a {
  display: inline-block;
  zoom: 2;
  display: inline;
  vertical-align: baseline;
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-;
  padding: 0.5em 1.5em 0.25em; /* espacamento diagonal horizontal */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); /* aplica espessura e sombra */
  cursor: pointer;
  color: #d7d7d7;
  border-radius: 3px;
  border: solid 1px #333;
  background: #333;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#666),
    to(#000)
  );
  background: -moz-linear-gradient(top, #666, #000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}

/* classe para botao, assim pode repetir e criar mais */
.botao {
  width: 95px;
  height: 30px;
  border-radius: 5px;
  padding: 6px;
  text-decoration: none; /* nao fica sublinhado */
}

.botao:hover {
  width: 95px;
  height: 30px;
  border-radius: 5px;
  padding: 2px;
  text-decoration: none; /* nao fica sublinhado */
}

#topo {
  width: 850px;
  height: 200px;
  background: url(../imagens/nacoesunidas.jpg);
}

#procura {
  margin-left: 675px;
  padding-top: 15px;
}

#idioma {
  margin-left: 700px;
  padding-top: 20px;
  color: #fff;
}

#idioma a {
  color: #fff;
}

#idioma a:hover {
  color: black;
}

#menu {
  background: #666;
  width: 850px;
  height: 40px;
}

#fotop {
  background: #999;
  width: 630px;
  height: 180px;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}

#contrel {
  background: #999;
  width: 180px;
  height: 260px;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

#descl {
  background: #999;
  width: 630px;
  height: 70px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

#caixa {
  width: 850px;
  height: 250px;
  float: left;
  margin-top: 30px;
}

#caixa2 {
  width: 850px;
  height: 250px;
  float: left;
  margin-top: 10px;
}

.not1 {
  background: #999;
  width: 305px;
  height: 170px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.not2 {
  background: #999;
  width: 305px;
  height: 170px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.dnot1 {
  background: #999;
  width: 305px;
  height: 70px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.dnot2 {
  background: #999;
  width: 305px;
  height: 70px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.redes {
  background: #999;
  width: 180px;
  height: 250px;
  float: right;
  margin-right: 10px;
}

#rodape {
  width: 850px;
  height: 30px;
  text-align: center;
  background: #666;
  float: left;
  margin-top: 10px;
  padding-top: 15px;
  color: white;
}
